/* Add your CSS here */
html {
  background: darkcyan;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

h1.fav {
  color: black;
}

/* My styled p elements */
p {
  font-weight: 900;
}

p.ty {
  text-align: center;
  position: relative;
  top: -35px;
  margin-bottom: -21px;
  font-size: 30px;
  font-family: Apple Chancery, cursive;
}

p.think {
  text-shadow: 4px 4px blueviolet;
}

/* styled anchors */
a {
  text-decoration: none;
}

a.git {
  box-shadow: inset 0 -0.07em 0 var(--articlePrimaryColor, #76bf80);
}

a.hob {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

a:hover, a:focus {
  text-decoration: none;
}

/* styled sections */
section img {
  position: absolute;
  float: left;
  top: 0px;
  width: 100%;
  height: 500px;
}

section.cat {
  background: url(https://images.unsplash.com/photo-1539081034274-b9991e9829d3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=33b81be3fd2b383e79bd361b63852253&auto=format&fit=crop&w=800&q=60) no-repeat center center;
  background-size: cover;
  position: relative;
  top: 0px;
  margin-top: 55px;
}

section p+p {
  font-size: 50px;
  z-index: 1000;
  color: palegreen;
  position: relative;
  max-width: 500px;
  margin: auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

section.bio {
  position: relative;
  font-size: 35px;
  font-family: monospace;
  margin: 35px;
  text-align: center;
}

section.hobbies a {
  display: inline;
  margin: 85px;
  color: green;
}

section.hobbies {
  text-align: center;
  margin-top: 85px;
  margin-bottom: 85px;
}

/* Nav */
nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover>a {
  color: white;
  box-shadow: 1px 1px 20px 0px black;
}

.main-menu:hover, nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #1D862F;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 55px;
  overflow: hidden;
  transition: width .05s linear;
  z-index: 1000;
  box-shadow: 7px 7px 18px 1px black;
  border: 3px solid black;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li>a {
  position: relative;
  display: table;
  color: ivory;
  font-family: monospace;
  font-size: 17px;
  text-decoration: none;
  transition: all .5s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  left: 50px;
}

.main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 34px;
  padding: 9px;
  color: ivory;
  right: 3px;
}

/* styled icons for nav */
i.fa.fa-2x.fa-map-marker.pos {
  padding-left: 13px;
}

i.fa.fa-info.fa-2x.pos {
  padding-left: 17px;
}

/* style to change the color of highlighter */
::selection {
  background-color: darkorchid;
}

/* attempt at making an animation of floating, spinning squares */
.bubbles {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100% z-index: 1;
  transform: translateZ(0);
}

.bubbles li {
  position: absolute;
  display: block;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.15) bottom: -100px;
  animation: square 20s infinite;
  transition-timing-function: linear;
}

.bubbles li:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 20%;
}

.bubbles li:nth-child(2) {
  width: 60px;
  height: 60px;
  left: 40%;
  animation-delay: 2s;
  animation-duration: 17s;
}

.bubbles li:nth-child(3) {
  width: 60px;
  height: 60px;
  left: 40%;
  animation-delay: 4s;
  animation-duration: 13s;
}

.bubbles li:nth-child(4) {
  width: 60px;
  height: 60px;
  left: 40%;
  animation-delay: 1s;
  animation-duration: 22s;
}

@@keyframes square {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    transform: translateY(0) rotate(630deg);
  }
}
