/* Add your CSS here */
html {
  background-image: radial-gradient(circle, #6bbb81, yellow, #d87acc);
}

header {
  padding: 6px;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

h1.fav {
  color: black;
}

/* My styled p elements */
p {
  font-weight: 900;
}

p.ty {
  text-align: center;
  position: relative;
  top: -50px;
  margin-bottom: -21px;
  font-size: 30px;
  font-family: Apple Chancery, cursive;
}

p.think {
  text-shadow: 4px 4px 3.5px blueviolet;
}

/* styled anchors */
a {
  text-decoration: none;
}

a.git {
  box-shadow: inset 0 -0.07em 0 var(--articlePrimaryColor, palegreen);
  border-bottom: 6px double;
  line-height: 2.9em;
  background: palegreen;
  border-radius: 10px;
}

a:hover, a:focus {
  text-decoration: none;
}

/* styled sections */
section img {
  position: absolute;
  float: left;
  top: 0px;
  width: 100%;
  height: 500px;
  padding: 10px;
}

section.cat {
  background: url(https://images.unsplash.com/photo-1539081034274-b9991e9829d3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=33b81be3fd2b383e79bd361b63852253&auto=format&fit=crop&w=800&q=60) no-repeat center center;
  background-size: cover;
  position: relative;
  top: 0px;
  margin-top: 36px;
  border-radius: 80px;
}

section p+p {
  font-size: 50px;
  z-index: 1000;
  color: palegreen;
  position: relative;
  max-width: 500px;
  margin: auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

section.bio {
  position: relative;
  font-size: 35px;
  font-family: Chalkduster, fantasy;
  margin: 35px;
  text-align: center;
}

section.bio a:hover {
  box-shadow: 5px 5px 20px 0px black;
}

section.hobbies a {
  display: inline-block;
  margin: 40px;
  border: 1px solid palegreen;
  padding: 13px 25px;
  background: blueviolet;
  color: palegreen;
  text-decoration: none;
  font-family: Chalkduster, fantasy;
  width: 35%;
  font-size: 15px;
  text-transform: uppercase;
}

section.hobbies {
  text-align: center;
  margin-top: 85px;
  margin-bottom: 85px;
}

/* Nav */
nav ul, nav li {
  margin: 0;
  padding: 0;
}

.main-menu li:hover>a {
  color: white;
  box-shadow: 1px 1px 20px 0px black;
}

.main-menu:hover, nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #1D862F;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50px;
  overflow: hidden;
  transition: width .05s linear;
  z-index: 1000;
  box-shadow: 7px 7px 18px .05px black;
  border: 1px solid black;
  border-radius: 10px;
}

.main-menu li {
  width: 250px;
}

.main-menu li>a {
  position: relative;
  display: table;
  color: ivory;
  font-family: monospace;
  font-size: 17px;
  text-decoration: none;
  transition: all .5s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  left: 50px;
}

.main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

/* styled icons for nav */
i.fa.fa-2x.fa-map-marker.pos {
  padding-left: 17px;
}

i.fa.fa-info.fa-2x.pos {
  padding-left: 21px;
}

i.fas.fa-film.fa.fa-2x {
  padding: 9px;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 34px;
  padding: 6px;
  padding-left: 12px;
  color: ivory;
  right: 3px;
}

.fa-github {
  color: black;
}

/* style to change the color of highlighter */
::selection {
  background-color: darkorchid;
}

.fa-spin {
  animation: fa-spin 2s infinite linear;
  position: absolute;
  right: 575px;
}

/* style footer */
footer {
  font-family: Chalkduster, fantasy;
}

/* attempt at making an animation of floating, spinning squares */
.bubbles {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100% z-index: 1;
  transform: translateZ(0);
}

.bubbles li {
  position: absolute;
  display: block;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.15) bottom: -100px;
  animation: square 20s infinite;
  transition-timing-function: linear;
}

.bubbles li:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 20%;
}

.bubbles li:nth-child(2) {
  width: 60px;
  height: 60px;
  left: 40%;
  animation-delay: 2s;
  animation-duration: 17s;
}

.bubbles li:nth-child(3) {
  width: 60px;
  height: 60px;
  left: 40%;
  animation-delay: 4s;
  animation-duration: 13s;
}

.bubbles li:nth-child(4) {
  width: 60px;
  height: 60px;
  left: 40%;
  animation-delay: 1s;
  animation-duration: 22s;
}

@@keyframes square {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    transform: translateY(0) rotate(630deg);
  }
}

/* fullscreen java fullscreenButton */
#fullscreen:-webkit-full-screen {
  padding: 42px;
  background-image: radial-gradient(circle, red, yellow, green);
  border: 5px solid linear-gradient();
  font-size: 200%;
}
#fullscreen-button {
      outline: none;
}

button#fullscreen-button {
  position: relative;
  top: -35px;
  background-color: #4CAF50;
  border: 5px dashed palegreen;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 2px 2px 9px black;
  border-radius: 50%;
  opacity: .9;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

button#fullscreen-button:hover {
  box-shadow: 5px 5px 20px 0px black;
}

/* collage page styles */
.joe {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 692px;
  margin-top: 101px;
  border-radius: 33%;
  left: 181px;
}

div {
  text-align: center;
}

img {
  border: 5px solid green;
}

img.jordan {
  position: absolute;
  width: 326px;
  height: 227px;
  top: 26px;
  left: 70px;
  border-radius: 25px;
  transform: rotate(-20deg);
}

img.sam {
  width: 285px;
  height: 226px;
  position: absolute;
  top: 0px;
  left: 422px;
  border-radius: 16px;
  transform: rotate(10deg);
}

img.elon {
  width: 245px;
  height: 256px;
  position: absolute;
  top: 796px;
  left: 737px;
  border-radius: 20px;
  transform: rotate(8deg);
}

img.jon {
  width: 285px;
  height: 246px;
  position: absolute;
  top: 287px;
  left: 1091px;
  border-radius: 36px;
  transform: rotate(-12deg);
}

img.degrass {
  width: 267px;
  height: 276px;
  position: absolute;
  top: 558px;
  left: 1110px;
  border-radius: 30px;
  transform: rotate(12deg);
}

img.cam {
  width: 275px;
  height: 236px;
  position: absolute;
  top: 786px;
  left: 992px;
  border-radius: 38px;
  transform: rotate(-12deg);
}

img.paul {
  width: 254px;
  height: 246px;
  position: absolute;
  left: 474px;
  border-radius: 38px;
  transform: rotate(-12deg);
  top: 780px;
}

img.steven {
  width: 270px;
  height: 273px;
  position: absolute;
  top: 280px;
  left: 60px;
  border-radius: 38px;
  transform: rotate(12deg);
}

img.rich {
  width: 255px;
  height: 274px;
  position: absolute;
  top: 548px;
  left: 45px;
  border-radius: 38px;
  transform: rotate(-12deg);
}

img.dan {
  width: 255px;
  height: 264px;
  position: absolute;
  top: 786px;
  left: 185px;
  border-radius: 38px;
  transform: rotate(12deg);
}

img.ronda {
  width: 273px;
  height: 233px;
  position: absolute;
  top: 2px;
  left: 705px;
  border-radius: 38px;
  transform: rotate(-12deg);
}

img.kraus {
  width: 273px;
  height: 263px;
  position: absolute;
  top: 18px;
  left: 990px;
  border-radius: 38px;
  transform: rotate(12deg);
}

div.cog {
  top: 253px;
  position: relative;
  left: -140px;
}

div a:hover>img {
  box-shadow: 5px 5px 20px 0px black;
}
